.single-card {
	border: 1px solid;
	padding-block-start: $container-site-padding;
	padding-block-end: $container-site-padding;
	background: url('../images/pokeball.png') 100%;
	background-repeat: no-repeat;
	background-position: 98% 4%;
	height: 100vh;

	&__description {
		padding-inline: 20px;
		margin-bottom: 16px;
	}

	&__header {
		gap: 2rem;
		color: color(gray, 100);
		font-weight: bold;
		margin-bottom: 168px;

		span {
			margin-left: auto;
		}
	}

	&__image {
		position: absolute;
		width: 200px;
		height: 200px;
		top: -35%;
		left: 50%;
		transform: translateX(-50%);
	}

	&__body {
		min-height: 412px;
		border-radius: 8px;
		margin-inline: 4px;
		background-color: color(gray, 100);
		position: relative;
		padding-top: 60px;
	}

	&__cards {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		margin-bottom: 16px;
	}

	&__about {
		max-width: 340px;
		margin: 0 auto;
		
		h2 {
			text-align: center;
			margin-bottom: 2rem;
		}
	}

	&__status h2 {
		margin-bottom: 16px;
	}

	&__status {
		padding-inline: 20px;
		padding-bottom: 44px;

		span {
			justify-content: end;
		}

		span,
		div {
			display: grid;
			align-items: center;
			grid-template-columns: repeat(2, 1fr);
		}

		div {
			margin-left: 12px;
			padding-left: 12px;
			border-left: 1px solid color(gray, 200);
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 16px;

		div {
			padding-inline: 24px;
			display: flex;
			flex-flow: column;
			justify-content: space-between;
		}
		
		div:nth-child(2) {
			border-inline: 1px solid color(gray, 300);
		}

		div:not(:last-of-type) {
			align-items: center;

			span {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}

		div:last-of-type {
			span {
				display: flex;
				flex-flow: column;
			}
		}

		span {
			text-transform: capitalize;
		}
		
		.c-text--small {
			color: color(gray, 500);
		}

		.c-text--xsmall {
			text-align: center;
			color: color(gray, 400);
		}
	}

	.name {
		font-weight: bold;
		text-align: right;
	}

	.progress {
		width: 213px;
		height: 4px;
		position: relative;
	}

	.line {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
	}

	@each $name, $type in $types {
		.#{$name} {
			$primary: $type;
		}

		&--#{$name} {
			border-color: $type;
			background-color: $type;
		}

		.progress--#{$name} {
			background: rgba($type, 0.2);

			.line {
				background: $type;
			}
		}

		.name--#{$name} {
			color: $type;
		}

		&--#{$name} & {
			&__name {
				background-color: $type;
			}

			&__id {
				color: $type;
			}
		}
	}
}

:root {
	--primary: #{$primary};
}