header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}

.list-pokemons {
	margin-top: 16px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8px;
}